*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Poppins';
}

header{
    position: fixed;
    top:0; 
    right:0;
    width:100%;
    background: rgb(219, 195, 211);
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 1000;
    padding: 10px 170px;
}

.logo{
    color: rgba(204, 77, 77, 1);
    /*font-weight: bolder;*/
    font-family: "Cherry Bomb One";
    font-size:x-large;
    font-size: 1.5cm;
    margin-left: 20px;
    height: 80px;
}

.navbar{
    display: flex;
}

.navbar a{
    color:rgba(204, 77, 77, 1);
    font-family: "Geologica";
    font-size: 1.2rem;
    font-weight: 0;
    padding: 10px 20px;
    transition: .4s ;
}

.navbar a:hover{
    color:rgba(10, 28, 45);
}

.image {
    position: relative;
    width: 929px;
    height: 325px;
    top: 200px;
    left: 250px;
}

.today {
    font-size: 100px;
    position: relative;
    top: 300px;
    width: 100px;
    color: white;
    left: 350px;
}

.hehe img {
    position: relative;
    top: 40px;
    width: 216px;
    height: 155px;
    left: 60px;
}

#boxNew {
    position: relative;
    width: 178px;
    height: 67px;
    background-color: #cc4d4d;
    top: -190px;
    left: 80px;
}

.new p {
    font-size: 50px;
    text-align: center;
}

#boxChicken {
    background-color: #dbc3d3;
    width: 331px;
    height: 390px;
    position: relative;
    top: 500px;
    left: 250px;
}

.penjelasanhehe p {
    position: relative;
    font-size: 40px;
    top: 290px;
    left: 280px;
    font-weight: bolder;
}

.penjelasanhehe h3 {
    position: relative;
    font-size: 15px;
    width: 200px;
    top: 290px;
    left: 325px;
}

.penjelasanhehe p2 {
    position: relative;
    font-size: 25px;
    top: 300px;
    left: 355px;
    font-weight: bolder;
}

.penjelasanhehe button{
    position: relative;
    text-align: center;
    width: 332px;
    height: 41px;
    background-color: rgba(204, 77, 77, 1);
    cursor: pointer;
    top: 340px;
    left: 133px;
    outline: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

chickenRamen {
    position: relative;
    top: -480px;
    left: 500px;
}

footer {
    background-color: rgb(219, 195, 211);
    color: black;
    font-family: 'Poppins';
    padding: 10px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 300px;
}