*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
header{
    position: fixed;
    top:0; 
    right:0;
    width:100%;
    background: rgb(219, 195, 211);
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 1000;
    padding: 10px 170px;
}

.logo{
    color: rgba(204, 77, 77, 1);
    /*font-weight: bolder;*/
    font-family: "Cherry Bomb One";
    font-size:x-large;
    font-size: 1.5cm;
    margin-left: 20px;
    height: 80px;
}

.navbar{
    display: flex;
}

.navbar a{
    color:rgba(204, 77, 77, 1);
    font-family: "Geologica";
    font-size: 1.2rem;
    font-weight: 0;
    padding: 10px 20px;
    transition: .4s ;
}

.navbar a:hover{
    color:rgba(10, 28, 45);
}

.banner-container{
    width: 100%;
    height: 6cm;
    left:2cm;
    right:2cm;
    position:absolute;
}

.banner{
    width: 1300px;
    height: 5cm;
    background-color: bisque;
    top: 170px;
    left:-20px;
    position:absolute;
}

.banner .photo{
    position: relative;
    width: 10%;
    height:auto;
    top: 10px;
    left:830px;   
}

.banner .photo2{
    position: relative;
    left: 970px;
    top: -170px;
}

.banner .text{
    position: relative;
    font-size: 20px;
    top: -330px;
    left: 200px;
}

.hehe img {
    position: relative;
    top: 60px;
    height: 200px;
    left: 30px;
}

#boxNew {
    position: relative;
    width: 178px;
    height: 67px;
    background-color: #cc4d4d;
    top: -230px;
    left: 80px;
}

.new p {
    font-size: 50px;
    text-align: center;
}

#boxChicken {
    background-color: #dbc3d3;
    width: 331px;
    height: 373px;
    position: relative;
    top: 500px;
    left: 250px;
}

.penjelasanhehe p {
    position: relative;
    font-size: 20px;
    font-size: 40px;
    top: 400px;
    left: 280px;
    font-weight: bolder;
}

chickenRamen {
    position: relative;
    top: -80px;
}

.hehe1 img {
    position: relative;
    top: 60px;
    height: 200px;
    left: 60px;
}

#boxBest {
    position: relative;
    width: 178px;
    height: 67px;
    background-color: #cc4d4d;
    top: -230px;
    left: 80px;
}

.best p {
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 10px;
}

#boxBlack {
    background-color: #dbc3d3;
    width: 331px;
    height: 373px;
    position: relative;
    top: 500px;
    left: 250px;
}

.penjelasanhehe1 p {
    position: relative;
    font-size: 20px;
    font-size: 40px;
    top: 400px;
    left: 300px;
    font-weight: bolder;
}

blackRamen {
    position: relative;
    top: -500px;
    left: 600px;
}

footer {
    background-color: rgb(219, 195, 211);
    color: black;
    font-family: 'Poppins';
    padding: 10px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 300px;
}