*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
header{
    position: fixed;
    top:0; 
    right:0;
    width:100%;
    background: rgb(219, 195, 211);
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 1000;
    padding: 10px 170px;
}

.logo{
    color: rgba(204, 77, 77, 1);
    /*font-weight: bolder;*/
    font-family: "Cherry Bomb One";
    font-size:x-large;
    font-size: 1.5cm;
    margin-left: 20px;
    height: 80px;
}

.navbar{
    display: flex;
}

.navbar a{
    color:rgba(204, 77, 77, 1);
    font-family: "Geologica";
    font-size: 1.2rem;
    font-weight: 0;
    padding: 10px 20px;
    transition: .4s ;
}

.navbar a:hover{
    color:rgba(10, 28, 45);
}

.banner-container{
    width: 100%;
    height: 6cm;
    left:2cm;
    right:2cm;
    position:absolute;
}

.banner{
    width: 1300px;
    height: 5cm;
    background-color: bisque;
    top: 100px;
    left:-20px;
    position:absolute;
}

.banner .photo{
    position: relative;
    width: 10%;
    height:auto;
    left:800px;   
}

.banner .photo2{
    position: relative;
    left: 380px;
    top: -190px;
}

.banner .text{
    position: relative;
    font-size: 20px;
    top: -370px;
    left: 200px;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

.products{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    left: -500px;
}

.products h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.products a{
    text-decoration: none;
}

.products .isi{
    background-color: bisque;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:20%;
    margin:15px;
    cursor: pointer;
    transition: .4s;
}

img{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.products1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -490px;
    left: 650px;
}

.products1 h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.products1 a{
    text-decoration: none;
}

.products1 .isi{
    background-color: bisque;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:20%;
    margin:15px;
    cursor: pointer;
    transition: .4s;
}

.products p{
    text-align: center;
    padding-top: 0 8px;
}

.products h6{
    font-size: 26px;
    text-align: center;
    margin: 0%;
}

.products button{
    text-align: center;
    font-size: 24px;
    padding: 15px;
    margin-top: 5px;
    width: 100%;
    border:0;
    outline: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.products2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1030px;
    left: 320px;
}

.products3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1570px;
    left: 1000px;
}

.products4{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10px;
    left: -1000px;
}

.products5{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -555px;
    left: -680px;
}

.products6{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1100px;
    left: -350px;
}

.products7{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1645px;
    left: -5px;
}

.buy{
    background-color: rgba(204, 77, 77, 1);
}

@media(max-width:768px){
    .isi{
        width:100%;
    }
}

.promotion{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
}

.promotion img{
    box-sizing: border-box;
    text-align: center;
    left:30px;
    height: 50%;
    width:50%;
    margin:15px;
}

footer {
    background-color: rgb(219, 195, 211);
    color: black;
    font-family: 'Poppins';
    padding: 10px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 300px;
}